# Modules
node_modules/

# Secrets / API keys
.env
serviceAccountKey.json
*.key
*.pem

# Databases
database.sqlite
*.db

# OS Files
.DS_Store

# Instructions
MANUAL_SETUP.txt

# Temporary / Uploads
uploads/
tmp/
temp/
*.tmp
*.ocr